<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" 
	xmlns="http://java.sun.com/xml/ns/j2ee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
	http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
  
  
  <filter>
		<filter-name>CharacterEncodingFilter</filter-name>
	  	<filter-class>cn.itcast.web.filter.CharacterEncodingFilter</filter-class>
  </filter>
  
  <filter-mapping>
  	<filter-name>CharacterEncodingFilter</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  
  
  <filter>
		<filter-name>HtmlFilter</filter-name>
	  	<filter-class>cn.itcast.web.filter.HtmlFilter</filter-class>
  </filter>
  
  <filter-mapping>
  	<filter-name>HtmlFilter</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  
   <filter>
		<filter-name>TransactionFilter</filter-name>
	  	<filter-class>cn.itcast.web.filter.TransactionFilter</filter-class>
  </filter>
  
  <filter-mapping>
  	<filter-name>TransactionFilter</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>CategoryServlet</servlet-name>
    <servlet-class>cn.itcast.web.manager.CategoryServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BookServlet</servlet-name>
    <servlet-class>cn.itcast.web.manager.BookServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>IndexServlet</servlet-name>
    <servlet-class>cn.itcast.web.client.IndexServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BuyServlet</servlet-name>
    <servlet-class>cn.itcast.web.client.BuyServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>cn.itcast.web.client.RegisterServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OrderServlet</servlet-name>
    <servlet-class>cn.itcast.web.client.OrderServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>cn.itcast.web.client.LoginServlet</servlet-class>
  </servlet>

<servlet>
    <servlet-name>OrderServlet1</servlet-name>
    <servlet-class>cn.itcast.web.manager.OrderServlet</servlet-class>
  </servlet>





  <servlet-mapping>
    <servlet-name>CategoryServlet</servlet-name>
    <url-pattern>/manager/CategoryServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BookServlet</servlet-name>
    <url-pattern>/manager/BookServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>IndexServlet</servlet-name>
    <url-pattern>/client/IndexServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BuyServlet</servlet-name>
    <url-pattern>/client/BuyServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/client/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OrderServlet</servlet-name>
    <url-pattern>/client/OrderServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/client/LoginServlet</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    <servlet-name>OrderServlet1</servlet-name>
    <url-pattern>/manager/OrderServlet</url-pattern>
  </servlet-mapping>
  
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
